.contents__main__text-box{data: {id: message.id}}
  .contents__main__text-box--up
    .contents__main__text-box--up__name
      = message.user.name
    .contents__main__text-box--up__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__main__text-box__comment
    - if message.content.present?
      %p.contents__main__text-box__comment__text
        = message.content
    = image_tag message.image.url, class: "contents__main__text-box__comment__image" if message.image.present?