.menu
  .menu__head
    .menu__head__user-name
      =current_user.name
    .menu__head__icon
      =link_to new_group_path, class: "menu__head__icon menu__head__icon--edit" do
        = fa_icon 'edit', class: "menu__head__icon--btn"
      =link_to edit_user_path(current_user), class: "menu__head__icon menu__head__icon--cog" do
        = fa_icon 'cog', class: "menu__head__icon--btn"
  .menu__group-list
    .menu__group-list__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .menu__group-list__group-name
            = group.name
          .menu__group-list__group-text
            メッセージはまだありません。
